body,html {padding:0px;margin:0px;height:100%;width:100%;position:absolute;}
#bugReport {position:fixed;bottom:0px;right:0px;}
#aide {position: fixed;top:0px;right:0px;}
#bugReport img,#aide img {width:20px;height:20px;}
/* Mise en forme de l'écan principal*/
body.index {background: url('img/marvel-fullHD.png') no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size:cover;background-size:cover;}
.joueurDisp,#mechantDisp {position:absolute;text-align:center;border:solid 2px gray;padding:0px;border-radius:20px;color:white;font-family:"Arial Black", Gadget, sans-serif;text-align:center;font-variant: small-caps; text-transform: capitalize;background:radial-gradient(black,red);width:220px;height:122px;opacity: 0.8;}
#mechantDisp {top:2px;left:50%;margin-left:-202px;width:400px;height:130px;background:radial-gradient(black,gray);}
#joueur1Disp {top:70px;left:5px;}
#joueur2Disp {top:70px;right:5px;}
#joueur3Disp {bottom:2px;right:5px;}
#joueur4Disp {bottom:2px;left:5px;}
.joueurEtat {color:yellow;font-size:14px;}
.vieDisp {margin:0px;padding:0px;text-align:center;width:100%;}
.playerLife,#mechantLife,#manigancePri,#manigancePriMax,#maniganceAcc,.MA,.compteur {display:inline-block;width:50px;font:25px bold comic;font-family:Impact, Charcoal, sans-serif;color:white;border: solid 2px white;border-radius:3px;text-align:center;cursor:default;}
.playerLife {display:inline-block;background-color:lightcyan;-webkit-text-stroke: 2px black;margin:3px;}
#mechantLife {display:inline-block;background-color:darkred;-webkit-text-stroke: 1px black;margin:3px;}
#manigancePri,#manigancePriMax,#maniganceAcc,.MA {width:35px;display:inline-block;background-color:#f3b723;-webkit-text-stroke: 1px black;margin:3px;}
#maniganceAcc {width:20px;}
.vieBtn {width:25px;font:25px bold;font-family:Impact,Charcoal,sans-serif;color:white;margin:3px;padding-left:5px;padding-right:5px;border:solid 2px white;border-radius:7px;text-align:center;background:black;}
.vieBtn:hover {background:white;border:solid 2px black;color:black;cursor: pointer;}
.vieBtnRed {width:25px;font:25px bold;font-family:Impact,Charcoal,sans-serif;color:red;margin:5px;padding-left:5px;padding-right:5px;border:solid 2px red;border-radius:7px;text-align:center;background:black;}
.vieBtnRed:hover {background:red;border:solid 2px black;color:black;cursor: pointer;}
.desoriente,.tenace,.sonne{display:inline-block;font:15px;font-family:Impact,Charcoal,sans-serif;color:black;margin:2px;}
.desorienteMechant,.tenaceMechant,.sonneMechant{display:inline-block;font-size:2em;font-family:Impact,Charcoal,sans-serif;color:black;margin:2px;width:30%;height:40px;}
.desorienteMechant:hover,.tenaceMechant:hover,.sonneMechant:hover {cursor:pointer;}
.desoriente,.desorienteMechant {background-color:#e5d2e5;}
.tenace,.tenaceMechant {background-color:#feb848;}
.sonne,.sonneMechant {background-color:#afcd53;}
.disabledButton {display:inline-block;font:15px;font-family:Impact,Charcoal,sans-serif;background-color:lightgray;color:gray;margin:2px;}
.disabledButtonMechant {display:inline-block;font-size:2em;font-family:Impact,Charcoal,sans-serif;background-color:lightgray;color:gray;margin:2px;width:30%;height:40px;}
.bouton:hover {background-color:white;cursor:pointer;}
.playerName,#mechant,.playerNameBouton {font-size:20px;fontweight:bold;}
.playerNameBouton:hover {font-size:20px;fontweight:bold;color:black;background-color:lightgray;cursor:pointer;}
#mechant {font-variant: small-caps; text-transform: capitalize;}
#phaseMechant {position:absolute;top:5px;right:8px;color:white;background:black;padding:2px;font-style:oblique;padding-right:6px;border:solid 1px white;}
#phaseMechant:hover {background:white;border:solid 2px black;color:black;cursor: pointer;}
#manigance {position:absolute;right:240px;top:50%;width:470px;background-color:rgba(0, 0, 0, 0.5);border:5px outset white;margin-top:-80px;font:15px;color:#f3b723;font-family:Impact,Charcoal,sans-serif;padding:3px;text-align:center;}
#mechantPic{position:absolute;top:5px;left:8px;width:50px;height:50px;border:solid 1px black;}
#mechantPic:hover {border:solid 1px white;cursor: pointer;}
#ajaxLoad{position:absolute;width:30px;height:30px;background: url(img/refresh.png) no-repeat center center;}
#ajaxLoad.index{top:2px;right:2px;}
#ajaxSave{position:absolute;width:30px;height:30px;background: url(img/save.png) no-repeat center center;}
#ajaxSave.index{top:35px;right:2px;}
#selectPartie {position:relative;margin:auto;margin-top:20px;width:50%;background:red;border:solid 3px white;padding:2%;color:white;}
#selectPartie input,select {font-variant: small-caps; text-transform: capitalize;font-size:1em;}
.selectJoueur {display:block;margin:auto;width:50%;margin-top:2%;font:calc(1vw + 1vh + 1vmin) bold;font-family:Impact,Charcoal,sans-serif;}
#indexFirst {position:absolute;width:74px;height:60px;font-weight:bold;}
#indexFirst:hover {cursor:pointer;}
#indexFirst.first1 {top:50px;left:170px;}
#indexFirst.first2 {top:50px;right:1px;}
#indexFirst.first3 {bottom:100px;right:1px;}
#indexFirst.first4 {bottom:100px;left:170px;}
#changeMechant,#changeHeros {position:relative;margin:auto;margin-top:20px;width:70%;background:red;border:solid 3px white;padding:2%;color:white;z-index:10;padding-top:5%;display:none;}
#changePhase,#NewManigance,#NewPrincipale {position:relative;margin:auto;margin-top:20px;width:40%;background:red;border:solid 3px white;padding:2%;color:white;z-index:10;padding-top:5%;display:none;}
#changePhaseNext {font-weight:bold;font-style:italic;}
#changePhaseVie,#changeMechantNom {font-weight:bold;}
.titlePopup {position:absolute;width:calc(100% - 10px);top:0px;left:0px;background-color:black;color:white;font-weight:bold;font-size:10px;padding-left:10px;font-size: calc(1vw + 1vh + 1vmin);}
#mechantSelect {display: grid;grid-template-columns: repeat(3, 1fr);grid-gap: 10px;font-size:20px;font-weight:bold;font-variant: small-caps; text-transform: capitalize;}
#herosSelect {display: grid;grid-template-columns: repeat(4, 1fr);grid-gap: 10px;font-size:20px;font-weight:bold;font-variant: small-caps; text-transform: capitalize;}
.changeMechant,.changeHeros {display: flex;align-items: center;justify-content: left;background:lightgray;color:black;}
.changeMechant:hover,.changeHeros:hover {cursor: pointer;background:black;color:lightgray;}
.changeMechant img,.changeHeros img {margin-right:5px;}
#dispClef {position:absolute;bottom:2px;left:calc(50% - 200px);background:black;border:solid 2px white;color:white;width:400px;text-align:center;font-size:15px;padding:1px;text-decoration: none;}
#dispClef span {font-weight:bold;font-size:20px;font-variant: small-caps; text-transform: capitalize;}
#dispClef span:hover {color:black;background:white;cursor: pointer;}
#keyError {position:absolute;top:0px;left:0px;width:100%;text-align:center;color:yellow;}
#manigancesAnnexes {text-align:left;}
#PlusManigance {position:absolute;top:2px;right:2px;font-weight:bold;font-size:20px;background-color:#f3b723;color:black;width:20px;height:20px;border: solid 1px white;text-align:center;}
#PlusManigance:hover {border:solid 1px white;background-color:white;cursor:pointer;}
#compteurs {position:absolute;top:150px;left:50%;margin-left:-212px;width:400px;background-color:rgba(0, 0, 0, 0.5);border:5px outset white;font:15px;color:#B3B629;font-family:Impact,Charcoal,sans-serif;padding:3px;text-align:center;min-height:36px;}
#NewCompteurBtn {position:absolute;top:2px;right:2px;width:38px;height:30px;background: url(img/counter.png) no-repeat center center;font-weight:bold;font-size:30px;color:white;text-align:center;line-height:30px;}
#NewCompteurBtn:hover {background-color:lightgray;color:black;cursor:pointer;}
.compteur {background-color:#B3B629;}
.compteurLine {position:relative;list-style-type: disc;width:100%;text-align:left;}
.compteurMoins {position:absolute;bottom:2px;right:2px;font-weight:bold;font-size:20px;background-color:#B3B629;color:white;width:20px;height:20px;border: solid 1px white;text-align:center;}
.compteurMoins:hover {border:solid 1px white;background-color:white;cursor:pointer;color:black;}
.maniganceLine {border-top:solid 1px white;position:relative;}
.maniganceIcones {position:absolute;right:0px;top:0px;height:100%;}
.maniganceIcones:before {content: "";display: inline-block;height: 100%;vertical-align: middle;}
.maniganceIcones img {max-height:20px;vertical-align:middle;margin-right:3px;}
.tooltip {position: relative;display: inline-block;}
.tooltip:hover {cursor: default;}
.tooltip .tooltiptext {visibility:hidden;width:250px;background-color:#555;color:#fff;text-align:center;padding:5px 0;border-radius:6px;
  position:absolute;z-index:1;top:-5px;bottom:auto;right:100%;opacity:0;transition: opacity 0.3s;}
.tooltip .tooltiptext::after {content:"";position:absolute;top:50%;left:100%;margin-top:-5px;border-width:5px;border-style:solid;border-color: transparent transparent transparent #555;}
.tooltip:hover .tooltiptext {visibility: visible;opacity: 1;}
#NewPrincipaleButton {color:#f3b723;padding:2px;margin:2px;}
#NewPrincipaleButton:hover {color:black;background:white;cursor:pointer;}
#mechantRiposte,#mechantPercant,#mechantDistance {position:absolute;font-size:10px;font-family:sans-serif;width:57px;}
#mechantRiposte:hover,#mechantPercant:hover,#mechantDistance:hover {cursor:pointer;}
#mechantRiposte {right:40px;top:18px;}
#mechantPercant {right:40px;top:35px;}
#mechantDistance {right:40px;top:52px;}
.mechantRiposte1,.mechantPercant1,.mechantDistance1 {background-color:black;color:white;}
.mechantRiposte0,.mechantPercant0,.mechantDistance0 {background-color:lightgray;color:gray;}
.pointVert {position:absolute;top:5px;left:5px;background:url('img/pointVert.png');height:10px;width:10px;display:none;}
.etatJoueur {font-size:16px;color:yellow;margin-top:2px}
.etatJoueur span:hover {cursor:pointer;color:black;background-color:yellow;}
#changeNameIndex {position:absolute;top:0px;left:0px;margin:auto;margin-top:20px;margin-left:calc(15% - 5px);width:70%;background:red;border:solid 3px white;padding:5px;color:white;z-index:10;padding-top:5%;font-size: calc(1vw + 1vh + 1vmin);font-variant:none;text-transform:none;text-align:left;display:none;font-weight:normal;}
#changeNameIndex input {font-size: calc(1vw + 1vh + 1vmin);font-weight:bold;}
#changeNameIndex input[type=text] {font-variant: small-caps; text-transform: capitalize;}
.smartphoneIcone {position:absolute;bottom:6px;left:6px;background:url('img/smartphone.png');height:11px;width:18px;background-size:contain;}
.smartphoneIcone:hover {cursor:pointer;}

/* Mise en forme de l'écran d'administration */
body.admin {background-color:#7e696a;color:white;}
.pannel {position:relative;border:solid 2px white;padding:2px;color:white;font-family:"Arial", Gadget, sans-serif;background:lightgray;margin-top:2px;border-color:black;color:black;font-weight:bold;font-size:1em;text-align:center;}
.pannel table,.pannel tr {border-top: 1px solid #555;width:100%;border-collapse: collapse;}
.pannel tr:nth-child(odd) {background-color:bisque;}
.pannel th {background-color: #555;color: #e5d2e5;}
.titleAdmin {background-color:black;color:white;font-weight:bold;font-size:2em;margin:-2px;margin-bottom:2px;padding-left:10px;text-align:left;}
a.adminButton {font-size:1.5em;font-weight:bold;color:darkgray;background-color:black;margin-top:10px;display:inline-block;padding:4px;text-decoration:none;border:solid 2px black;text-align:center;}
a.adminButton:hover {background-color:darkgray;color:black;}
#ajaxLoad.admin {top:2Px;left:2px;z-index: 10;}
#ajaxSave.admin {bottom:2px; left:2px;z-index:10;}
.adminEncadre {display:inline-block;border:2px solid black;padding:3px;margin:2px;color:black;text-decoration:none;}
a.adminEncadre {font-size:.8em;font-weight: normal;text-align:left;}
a.adminEncadre:hover {background-color:#555;color:white;border-color:white;}
.adminIcones:before {content: "";display: inline-block;height: 100%;vertical-align: middle;}
.adminIcones a {vertical-align:middle;margin-right:3px;}
.adminIcones a img {max-height:20px;}

/*Mise en forme pour l'écran de joueur */
#joueurDisp {width:calc(100% - 10px);height:calc(100% - 10px);background:radial-gradient(black,red);background-attachment:fixed;border:solid 5px white;border-radius:50px;color:white;font-family: "Gill Sans", sans-serif;text-align:center;font-size: calc(4vw + 4vh + 2vmin);font-weight:bold;font-variant: small-caps; text-transform: capitalize;overflow: hidden;}
body.joueur {overflow:hidden;background:lightgray;}
#mechantPicJoueur{position:absolute;bottom:18px;left:22px;width:50px;height:50px;font-size:12px;border-radius:2px;border:ridge 5px transparent;}
#mechantPicJoueur.mechantDesJ {border-left-color:#e5d2e5;}
#mechantPicJoueur.mechantSonJ {border-bottom-color:#afcd53;}
#mechantPicJoueur.mechantTenJ {border-right-color:#feb848;}
#picJoueur,.picJoueur{position:absolute;top:22px;left:22px;width:50px;height:50px;font-size:12px;}
#picJoueur:hover,.picJoueur:hover {cursor:pointer;}
.picJoueur {top:6px;left:6px;width:40px;height:40px;}
#phaseMechantJoueur {position:absolute;top:2px;right:2px;color:white;background:black;padding:1px;font-style:oblique;padding-right:3px;border:solid 1px white;}
#mechantLifeJoueur {position:absolute; bottom:2px;left:15px;width:20px;font:12px bold comic;font-family:Impact, Charcoal, sans-serif;color:white;border:solid 1px white;border-radius:2px;background-color:darkred;text-align:center;}
#vieJoueur {display:inline-block;font:comic;font-family:Impact, Charcoal, sans-serif;color:white;border: solid 4px white;border-radius:5px;background-color:lightcyan;-webkit-text-stroke: 1px black;width:15%;}
#ajaxLoad.joueur{bottom:22px;right:22px;}
#ajaxSave.joueur{bottom:22px;left:22px;}
.vieJoueur,.vieJoueurRed {font:calc(4vw + 4vh + 2vmin) bold;font-family:Impact,Charcoal,sans-serif;color:white;margin:3px;border:solid 2px white;border-radius:7px;text-align:center;background:black;padding-left:3%;padding-right:3%;}
.vieJoueurRed {color:red;border:solid 2px red;}
.desJoueur,.tenJoueur,.sonJoueur {display:inline-block;font-size: calc(2vw + 2vh + 2vmin);font-family:Impact,Charcoal,sans-serif;color:black;margin:2px;}
.desJoueur {background-color:#e5d2e5;}
.tenJoueur {background-color:#feb848;}
.sonJoueur {background-color:#afcd53;}
.disabledJoueur {display:inline-block;font-size: calc(2vw + 2vh + 2vmin);font-family:Impact,Charcoal,sans-serif;background-color:'lightgray';color:lightgray;opacity: 0.5;margin:2px;}
#etatJoueur {font-size:calc(2vw + 2vh + 2vmin);color:yellow;margin-top:2px}
#joueurFirst{width:12%;height:auto;position:absolute;top:22px;right:22px;}
#joueurFirst.on{filter:grayscale(0);}
#joueurFirst.off{filter:grayscale(1);}
#changeName {position:absolute;top:0px;left:0px;margin:auto;margin-top:20px;margin-left:calc(15% - 5px);width:70%;background:red;border:solid 3px white;padding:5px;color:white;z-index:10;padding-top:5%;font-size: calc(1vw + 1vh + 1vmin);font-variant:none;text-transform:none;text-align:left;display:none;font-weight:normal;}
#changeName input {font-size: calc(1vw + 1vh + 1vmin);font-weight:bold;}
#changeName input[type=text] {font-variant: small-caps; text-transform: capitalize;}
#changeNameOld {font-weight:bold;}
.boutonsPopup {text-align:center;margin-top:20px;}

/*Mise en forme de l'écran Méchant */
body.mechant {overflow:hidden;background:lightgray;}
#mechantDispME {position:absolute;width:calc(100% - 10px);height:calc(100% - 10px);background:radial-gradient(black,gray);background-attachment:fixed;border:solid 5px white;border-radius:50px;color:white;font-family: "Gill Sans", sans-serif;text-align:center;font-size: calc(4vw + 4vh + 2vmin);font-weight:bold;font-variant: small-caps; text-transform: capitalize;}
#mechantPicME {position:absolute;top:2%;left:7%;width:10%;height: calc(10vw*1);border:solid 1px black;}
#phaseMechantME {position:absolute;top:2%;right:7%;color:white;background:black;padding-left:1%;padding-right:1%;font-style:oblique;border:solid 1px white;}
#phaseMechantME:hover{cursor:pointer;} 
#mechantLifeME {display:inline-block;font:comic;font-family:Impact, Charcoal, sans-serif;color:white;border: solid 4px white;border-radius:5px;background-color:darkred;-webkit-text-stroke: 1px black;width:15%;}
.vieBtnME,.vieBtnRedME {font:calc(4vw + 4vh + 2vmin) bold;font-family:Impact,Charcoal,sans-serif;color:white;margin:3px;border:solid 2px white;border-radius:7px;text-align:center;background:black;padding-left:3%;padding-right:3%;}
.vieBtnRedME {color:red;border:solid 2px red;}
#mechantDesorienteME, #mechantSonneME, #mechantTenaceME  {display:inline-block;font-size: calc(2vw + 2vh + 2vmin);font-family:Impact,Charcoal,sans-serif;color:black;margin:2px;width:30%;}
.disabledButtonMechantME  {display:inline-block;font-size: calc(2vw + 2vh + 2vmin);font-family:Impact,Charcoal,sans-serif;background-color:'lightgray';color:lightgray;opacity: 0.5;margin:2px;width:30%;}
.desorienteMechantME {background-color:#e5d2e5;}
.tenaceMechantME {background-color:#feb848;}
.sonneMechantME {background-color:#afcd53;}
#mechantRiposteME, #mechantPercantME, #mechantDistanceME {position:absolute;font-size: calc(1vw + 1vh + 1vmin);font-family:Impact,Charcoal,sans-serif;width:20%;right:5px;}
#mechantRiposteME:hover,#mechantPercantME:hover,#mechantDistanceME:hover {cursor:pointer;}
#mechantRiposteME {top:17%;}
#mechantPercantME {top:25%;}
#mechantDistanceME {top:33%;}

/*Mise en forme de l'écran de création de partie */
body.new {background: url('img/marvel-fullHD.png') no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size:cover;background-size:cover;color:antiquewhite;}
body.new h1 {display:inline-block;width:100%;text-align:center;margin-top:5px;}

.pannelNew {position:relative;border:solid 2px white;padding:2px;color:white;font-family:"Arial", Gadget, sans-serif;background:lightgray;margin-top:2px;border-color:black;color:black;font-weight:bold;font-size:1em;text-align:center;}
.pannelNew table,.pannel tr {border-top: 1px solid #555;width:100%;border-collapse:collapse;}
.pannelNew tr:nth-child(odd) {background-color:bisque;}
.pannelNew th {background-color: #555;color: #e5d2e5;}

.newOptions {background-color:antiquewhite;color:#555;font-size:1em;width:100%;text-align:center;font-weight:bold;margin-top:10px;}
.newOptions a {text-decoration:none;color:#555;}
.newEncadre {display:inline-block;border:2px solid black;padding:3px;margin:2px;color:black;text-decoration:none;background-color: antiquewhite;}
body.new img {width:40px;}
div.newError {background-color:red;font-weight:bold;width:100%;text-align:center;font-size:1.5em;padding-top:3px;padding-bottom:3px;margin-bottom:10px;margin-top:-10px;}
div.newError div {text-align:left;font-size:.5em;font-style:italic;color:lightgray;font-weight:normal;}